
.continer{
  text-align: center;
  align-items: center;
}

.box{
  width:100px;
  height: 100px;
  border: solid black;
  display: inline-block;
  line-height: 100px;
}

.board{
display: inline-flex;
flex-wrap: wrap;
width:360px;
text-align: center;
justify-content:center;
}


